@import url('https://fonts.googleapis.com/css2?family=Chivo&family=Courier+Prime&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Chivo, sans-serif;
    color: #271811;
    background-color: #fff5eb;
}

/* headings and logo */

#hero-image {
    height: 500px;
    width: 100%;
    background-image: url('../images/hero-image.jpg');
    background-size: cover;
    background-position: center;
}

h1, h2 {
    font-family: Courier Prime, sans-serif;
    text-transform: uppercase;
    color: #fd5901;
}

#logo {
    float: left;
    margin-left: 100px;
    margin-top: 200px;
    font-size: 500%;
    font-weight: 900;
}

/* navigation links */

#menu, #logo {
    line-height: 50px;
    opacity: 75%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
}

#menu a {
    text-decoration: none;
    color: #fd5901;
    font-weight: bold;
}

#menu a:hover {
    color: #fff5eb;
}

.active {
    color: #fff5eb;
}

/* about */

#about {
    height: 300px;
}

#about-heading {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 300%;
}

p {
    text-align: center;
    font-size: 120%;
    line-height: 2rem;
}

/* upcoming events */

#event-heading {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
    font-size: 300%;
}